@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}


@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}


@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-lightitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}



@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}


@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-mediumitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}



@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}



@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}


@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-semibolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto-Slab';
    src: url('/assets/fonts/robotoslab-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/robotoslab-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}



@font-face {
    font-family: 'Roboto-Slab';
    src: url('/assets/fonts/robotoslab-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/robotoslab-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto-Slab';
    src: url('/assets/fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/robotoslab-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}